html {
  font-family: arial;
}

body {
  margin: 0;

}

.containsall {

  top: 0;
  bottom: 0;
  background-color: #D8D8D8;
  position: absolute;
  width: 100%;

}

.test {

  border: 1px solid red;
}

p.help {
  color: red;
}

.trail {
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 3px;
  background-color: teal;
}

.moveAway {
  position: absolute;
  border: 4px solid black;
  width: 100px;
  height: 100px;
  border-radius: 54px;
  background-color: red;
}

#column {
  border: 4px solid black;
  background-color: white;
  width: 80%;
  margin-left: 8%;
  margin-top: 10%;
  padding: 1%;
}




/* Game */

.background {
  background: rgb(52, 166, 251);
  table-layout: fixed;
  border-spacing: 0;
}

.background td {
  padding: 0;
}

.lava {
  background: rgb(255, 100, 100);
}

.wall {
  background: white;
}

.actor {
  position: absolute;
}

.coin {
  background: rgb(241, 229, 89);
}

.player {
  background: rgb(64, 64, 64);
}

.lost .player {
  background: rgb(160, 64, 64);
}

.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
