<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>My test page</title>

    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!-- style -->
    <link href="static/css/style.css" rel="stylesheet" type="text/css">


  </head>

  <body>
    
    <div class="navcol">

      navcol

    </div>

    <div class="maincontent">
      
      maincontent

      <img src="static/images/firefox-icon.png" alt="The Firefox logo: a flaming fox surrounding the Earth.">

    </div>

<!-- scripts -->
<script src="static/scripts/main.js"></script>  

  </body>

</html>